<div class="container-fluid bg-white" id="about">
  <div class="row pt-5 pb-5">
    <div class="col-md-1"></div>
    <div class="col-md-7">

      <h1 class="mt-2">The First Heading <span style="color: lightgray;">Will catch Your Eye</span></h1>
      <p class="fs-5 text text-justify pe-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        tempore quo ratione explicabo sed porro est natus atque at nemo, recusandae accusantium placeat consequatur,
        sunt quas doloribus, amet quae maiores!</p>

    </div>

    <div class="col-md-3 ms-2">
      <img style="
            height: 350px;
            width: 350px;
            float: right;
            border-radius: 50%;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
          " src="https://upload.wikimedia.org/wikipedia/en/0/03/Walter_White_S5B.png" alt="Walter White" />
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
</div>