<div class="container-fluid bg-white" id="about">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3 pe-5">
      <img style="
          height: 350px;
          width: 350px;
          float: left;
          border-radius: 50%;
          margin-top: 10px;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
        " 
        src="https://www.eluniversal.com.mx/resizer/EBa-GUfykr2ZPb7r3rBCmizFNiQ=/1100x666/cloudfront-us-east-1.images.arcpublishing.com/eluniversal/ADIEWUA3BNBDNLOOKO2IZJ6BNQ.jpg"
        alt="" />
    </div>
    <div class="col-md-8">

      <h1 class="ps-5 pt-2">The Second Heading <span style="color: lightgray;">Its Pretty Cool Too</span></h1>
      <p class="fs-5 text text-justify ps-5 pe-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempore quo ratione explicabo sed porro
        est natus atque at nemo, recusandae accusantium placeat consequatur, sunt quas doloribus, amet quae maiores!</p>
    </div>    
  </div>
</div>
</div>